
.sidebar-menu {
    animation: fadeOutRight .25s;
    background: #1f2937;
    width: 100%;
    opacity: 0;
    overflow: hidden auto;
    /* padding: 10rem 6.25rem 5rem 3.125rem; */
    position: fixed;
    /* right: -100%; */
    top: -100%;
    transition: all .25s ease;
    visibility: hidden;
}

.active {
    animation: fadeInRight .25s;
    animation-fill-mode: forwards;
    /* right: 0; */
    top: 110px;
    visibility: visible;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateY(100%,0,0)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}